

#title {
  background-color: #393e46;
}

.container-fluid {
  padding: 1% 2%;
}

.nav-link{
  font-family: 'Ubuntu';

}

.navbar-brand {
font-family: 'Ubuntu';
    font-size: 1rem;
    font-weight: bold;
}


span{
  font-weight: bold;
  color: #393e46;
}

.title{
padding: 5% 0 0 0;
margin-right: 0;
}

#about1{
    padding: 3% 0 0 5%;

}

.myname {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 8rem;
  color: #d8cc2f;
  line-height: 100px;
  padding-top: 50px;
  padding-left: 5%;
  margin: 0;
}

.intro {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 45%;
  padding-left: 3%;
  color: #929aab;
}


.aboutme {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.7rem;
  text-align: justify;
  color: #929aab;
  padding-right: 3%;
  padding-top: 5%;
}

.picslides{
  padding: 5% 5%;
  position: relative;
}

.slide-images{

}

.about{
    color: #929aab;
  text-align: center;
  padding-top: 5%;
}
.mee{
  width: 70%
}

.mee1{
  padding-top: 30px;
display: block;
margin-left: auto;
margin-right: auto;
width: 60%;
}

h3{
  text-align: center;
}
.firstpic {
  border-radius: 40%;
  display: block;
margin-left: auto;
margin-right: auto;
width: 80%;
}

#whatido{
background-color: #eeeeee;
}

.skills{
  color: #929aab;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.contactme{
  text-align: center;
  font-size: 2rem;
    color: #929aab;
      font-weight: 500;

}

.myemail{
  font-weight: 700;
  color: black;
}

.contacth1{
  padding-bottom: 10%;
}

.icons{
  padding: 4% 4%;
  font-size: 4rem;
  color: #d8cc2f;
}

#footer {
  text-align: center;
}
